---
import Social from "./Social.astro";
const platform = "Github";
const username = "jluo3364";
const plateform2 = "LinkedIn";
const link2 = "in/jessica-luo336";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    <Social platform="Github" username="jluo3364" />
    <Social platform="Linkedin" username="in/jessica-luo336" />
  </p>
</footer>
